
.normal {
  background: #AA79F2;

}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loading_spinner {
  text-align: center;
  /*background: rgba(0,0,0,0.05);*/
  border-radius: 4px;
  padding: 30px 50px;
  margin-bottom: 20px;
}

.countdown_timer {
  font-size: 26px;
  color: green;
  position: absolute;
  top: 5em;
  right: 3em;
}
